.navbar 
{
  margin-bottom: 20px;
}

.content
{
	margin-top: 55px;
	margin-bottom: 30px;
	padding: 15px;
	height: auto;
	position: absolute;
}

.daterange
{
	background: #fff; 
	cursor: pointer; 
	padding: 5px 10px; 
	border: 1px solid #ccc;
	margin: 9px;
}

.thumbnail a>img 
{
  width: 180px;
  height: 180px;
}

a.dropdown-toggle
{
	font-weight: bold;
}

.thumbnail
{
	  margin-bottom: 0px;
}

.thumbnail a>img:hover
{
  zoom:1px;
}

div.thumbnail 
{
  width: 207px;
}

.thumbnail > div
{
	padding: 2px;
	font-size: 11px;
	font-weight: bold;
}
.thumbnail > span
{
	padding: 0px  0px 0px 8px;
	font-size: 9px;
}
.download
{
	padding: 0px 8px;
	float: right;
	font-size: 14px;
}

.loading
{
	width: 100%;
	height: 100%;
	z-index: 999;
	display: block;
	position: fixed;
	background: url('../image/loading.gif');
	background-repeat: no-repeat;
	background-size: 50px;
	background-position: center;
}

.loading-bg
{
	width: 100%;
	height: 100%;
	z-index: 998;
	display: block;
	position: fixed;
	opacity: 0.6;
	background: black;
	background-repeat: no-repeat;
	background-size: 50px;
	background-position: center;
}
div.nodata
{
	width: 100%;
	height: 90%;
	z-index: 999;
	display: none;
	position: absolute;
	font-size: 50px;
	text-align: center;
	font-weight: lighter;
	opacity: 0.2;
}
div.nodata > span
{
	position: relative;
	top: 45%;
}
.nav>li>a>img
{
	border-radius: 4px;
}

.channel
{
	width: 20px;
	border-radius: 4px;
}
.bs-example-tabs .nav-tabs 
{
	margin-bottom: 15px;
}

.example
{
	color: rgb(195, 195, 195);
	font-size: 12px;
}

.example > span
{
	color: rgb(136, 136, 136);
	font-weight: bold;
}

select.select-subject
{
	border-radius: 4px !important;
	font-weight: 700;
}

div.underline
{
	width: 100%;
	padding: 15px;
	border-bottom: 1px solid rgb(221, 221, 221);;
	display: table;
}

td.status-open
{
	background-color: rgb(184, 255, 184);
	color: rgb(0, 142, 29);
	font-weight: bold;
}

td.status-close
{
	background-color: rgb(223, 158, 158);
	color: rgb(211, 0, 0);
	font-weight: bold;
}

.grid
{
	padding: 0px;
}

.bg-login
{
	background-color: rgb(27, 139, 147);
    border: solid 5px #E8E8E8;
    color: white;
    margin-top: 5% !important;
}