body 
{
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar 
{
  margin-bottom: 20px;
}

.content
{
	margin-top: 30px;
	padding: 15px;
}

.daterange
{
	background: #fff; 
	cursor: pointer; 
	padding: 5px 10px; 
	border: 1px solid #ccc;
	margin: 9px;
}

.thumbnail a>img 
{
  width: 180px;
  height: 180px;
}

a.dropdown-toggle
{
	font-weight: bold;
}

.thumbnail
{
	  margin-bottom: 0px;
}

.thumbnail a>img:hover
{
  zoom:1px;
}

div.thumbnail 
{
  width: 207px;
}

.thumbnail > div
{
	padding: 2px;
	font-size: 11px;
	font-weight: bold;
}
.thumbnail > span
{
	padding: 0px  0px 0px 8px;
	font-size: 9px;
}
.download
{
	padding: 0px 8px;
	float: right;
	font-size: 14px;
}

.loading
{
	width: 100%;
	height: 100%;
	z-index: 999;
	display: block;
	position: fixed;
	background: url('../image/loading.gif');
	background-repeat: no-repeat;
	background-size: 50px;
	background-position: center;
}
div.nodata
{
	width: 100%;
	height: 90%;
	z-index: 999;
	display: none;
	position: absolute;
	font-size: 50px;
	text-align: center;
	font-weight: lighter;
	opacity: 0.2;
}
div.nodata > span
{
	position: relative;
	top: 45%;
}