.info-box-icon img
{
	margin-top: -11px;
}

.bg-facebook
{
	background-color: #F2F2F2 !important;
	color: #2B2B2B !important;
}

.info-box.bg-facebook .progress .progress-bar
{
	background: #3C8DBC;
}

.info-box
{
	border: 1px solid rgb(210, 214, 222);
}

.subject_page
{
	cursor: pointer;
}

.subject_active
{
	background-color: #FDFDCF !important;
}
.email-wrapper .email-opened
{
	margin-left: 0px;
}
